/* import my font face */
@font-face {
    src: url('../fonts/Anders.ttf');
    font-family: anders;
}
input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #FFF;
    opacity: 1;
}
.form-control::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder{
    color: #FFF;
    opacity: 1;
}
/* start body */
body{
    font-family: sans-serif;
}
.section-title {
    width: 240px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-title h2{
	text-align: center;
    font-weight: 600;
    color: rgba(101, 97, 129, 0.75);
    font-family: anders;
    text-transform: uppercase;
    font-size: 25px;
}
/* end body */

/* start nagivation */
.navbar-default
{
    background-color: rgba(255, 255, 255, 0.99);
    border: none;
    margin: 0 !important;
    padding: 0;
}
.navbar-default .navbar-brand
{
    padding-top: 4px;
    padding-bottom: 60px;
    margin-left: 0 !important;
}
.navbar-default .navbar-brand img
{
    margin-top: 18px;
}
.mynavbar{
    margin-right: 15px;
}
.navbar-default .navbar-nav li a
{
    display: inline-block;
    color:rgba(101, 97, 129, 0.75);
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a.active,.navbar-default .navbar-nav li a:focus
{
    color:#97da29;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #97da29;
background-color: transparent;
}

.navbar-default .navbar-toggle
{
    border: none;
    padding-top: 16px; 
}
.navbar-default .navbar-toggle .icon-bar
{
    background: #97da29;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start banner */ 
#home {
    padding-top: 65px;
}       
.welcome-msg {
  height: 530px;
  padding: 0;
  background-color: rgba(101, 97, 129, 0.75);
  margin: 0;
}
/* end banner */

/* start services */
#services{
    padding-top: 30px;
}
.service-block{
    margin-bottom: 60px;
}
.my-row{
    margin-right: -25px;
    margin-left: -10px;
}
i.icon-services-blocks {
    float: left;
    color: #97da29;
    font-size: 50px;
    min-width: 50px;
    height: 72px;
}
.services-info {
    padding: 0 10px;
    overflow: hidden;
}
.services-info h3 {
    color: rgba(101, 97, 129, 0.75);
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
}
.services-info p {
    text-align: left;
    line-height: 1.6em;
    font-size: 15px;
    color: rgba(101, 97, 129, 0.75);
}
/* end services */

/* start Min Banner */
.my-min-row{
    margin: 0;
}
.min-banner{
    padding: 0;
    background-color: rgba(101, 97, 129, 0.75);
    margin: 0;
}
.mb-content1, .mb-content2{
    padding: 10px;
    margin: auto;
}
.mb-content1 h3{
	text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
 .mb-content2 h3 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    margin: 0px auto 15px auto;
}

.mb-content1 p, .mb-content2 p{
	text-align: center;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    font-size: 18px;
    
}
.my-btn{
    background-color: #97da29;
    padding: 9px 12px;
    color: #fff;
    display: block;
    border: none;
    margin: auto;
    width: 90%;
    height:45px;
    font-size: 15px;

}
.my-btn:hover, .my-btn:focus, .my-btn:active:hover{
    background-color: #83b331;
    border: none;
}
/* end Min Banner */

/* start portfolio*/
.title-tag{
	margin: 0px auto 35px auto;
}
.title-tag p{
	text-align: center;
    font-weight: 300;
    line-height: 1.5em;
    color: rgba(101, 97, 129, 0.75);
    font-size: 18px;
}
.my-img {
    border-radius: 5px 5px 0px 0px;
}
.img-container {
    margin-bottom: 30px;
    width:100%;
    position: relative;
    overflow: hidden;
}

.img-container .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 30px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
.img-container:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
.img-container .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
/* end portfolio*/

/* start newsletter */

.newsletter h4{
	text-align: center;
    font-weight: 600;
    line-height: 1.1em;
    color: #ffffff;
    font-size: 22px;
    font-family:sans-serif;
    text-transform: capitalize;
}
.newsletter p{
	text-align: center;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    font-size: 18px;
    font-family:sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
}

.form-control {
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
    height: 45px;
    widows: 100%;
    border-radius: 0px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
}

.form-button{
		width:100%;
        height:45px;
        background-color: #97da29;
        color: #fff;
        border: none;
        }
.form-button:hover, .form-button:focus, .form-button:active:hover{
    background-color: #83b331;
    border: none;
	}
	.text-row{
		margin:30px auto;
	}
	.input-row{
		margin-bottom:30px;
	}
/* end newsletter*/

/* start about */
.about-brief h4{
	text-align: center;
    font-weight: 600;
    line-height: 1.1em;
    color: white;
    font-size: 23px;
    font-family: anders, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}
.about-brief p{
    text-align: left;
    margin-top:14px;
    font-size:18px; 
    line-height: 2em;
    color: white;
}
.about-jumbotron{
    background-color: rgba(101, 97, 129, 0.75);
}
/* end about */

/* start contact */
#contact{
    margin-top: 2%;
    text-align: center;
}
.contact-row{
    margin-top: -12px;
    margin-bottom: 10px;
}
#contact-form h4 {
    text-align: center;
    font-weight: 600;
    line-height: 1.5em;
    color: rgba(101, 97, 129, 0.75);
    font-size: 22px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 40px;
}
#contact-form .input-n-e {
    width: 100%;
    color: white;
    height: 50px;
    font-family: sans-serif;
    border-radius: 5px;
    border: transparent;
    background-color:rgba(101, 97, 129, 0.75);
    padding: 15px;
    margin-bottom: 20px;
}
 #contact-form input[type="submit"]{
	background-color: #97da29;
    border: 2px solid transparent;
    color: rgba(101, 97, 129, 0.75);
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 40px;
}
#contact-form input[type="submit"]:hover{
    background-color: #83b331;
    border: none; 
}
#contact-form .input-m {
    width: 100%;
    margin-bottom: 15px;
    color: white;
    height: 100px;
    font-family: sans-serif;
    border-radius: 5px;
    border: transparent;
    background-color: rgba(101, 97, 129, 0.75);
    padding: 15px;
}   
#contact-info h4{
	text-align: center;
    font-weight: 600;
    line-height: 1.5em;
    color: rgba(101, 97, 129, 0.75);
    font-size: 22px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin: 40px auto 10px auto;
}
#contact-info p{
	text-align: center;
    font-weight: 300;
    line-height: 1.1em;
    color: rgba(101, 97, 129, 0.75);
    font-size: 17px;
    font-family:sans-serif;
    margin-bottom: 20px;
}
#contact-info #social-buttons {
    width: 200px;
    margin: auto;
    padding-left: 40px;
}
#contact-info a, #contact-info p i{
	font-size: 17px;
	color: #97da29;
	text-align: center;
	letter-spacing: 10px;
	text-decoration: none;
}

/* end contact */

/* start footer */
.footer{
	height:100px;
	background-color: rgba(101, 97, 129, 0.75);
}
.copyright{
	text-align: center;
    width: 200px;
    height: 50px;
    margin: 30px auto 0px auto;
}
#copyright-item {
	font-family: sans-serif;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2em;
	text-transform:uppercase;
}
/* end footer */